@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- <h1 class="display-4">Creature Teacher</h1> -->
    <!-- <h3>Learn About DNA and Make New Friends!</h3> -->
    <img class="splashTop" src="../img/CreatureTeacher.png" width="700">
    <img class="splash" src="../img/splash2.png" width="1200">
     <!-- <h3>Learn About DNA and Make New Friends!</h3> -->

</div>
