@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Creature Teacher</h1>
    <h3>Learn About DNA and Make New Friends</h3>
    <img src="../img/creatureImages/bodies/creature-test.png" width="500">

</div>
